{% extends "base.html" %}

{% block title %}MainPage{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li id="fundamental" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/fundamental">Fundamental Data</a></li>
			<li id="bpmdata" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/bpmdata">BPM Data</a></li>
			<li id="bpmgraph" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/bpmgraph">BPM Graph</a></li>
			<li id="spectrumdata" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/spectrumdata">Spectrum Data</a></li>
			<li id="spectrumgraph" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/spectrumgraph">Spectrum Graph</a></li>
			<li id="poincareplot" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/poincareplot">Poincaré Plot</a></li>
			<li id="histgram" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/histgram">Histgram</a></li>
		</ul>
	</div>
	<div class="col-md-10">
	{% block maincontent %}
		{{ maincontent }}
	{% endblock maincontent %}
	</div>
</div>
{% endblock content %}
