{% extends "base.html" %}

{% block title %}MainPage{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li id="fundamental" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/fundamental">Fundamental Data</a></li>
			<li id="bpmgraph" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/bpmgraph">BPM Graph</a></li>
			<li id="fft" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/fft">FFT</a></li>
			<li id="raw" role="presentation"><a href="/myheartrate/data/{{ heartratedata_id }}/raw">BPM Row</a></li>
		</ul>
	</div>
	<div class="col-md-10">
	{% block maincontent %}
		{{ maincontent }}
	{% endblock maincontent %}
	</div>
</div>
{% endblock content %}
