{% extends "basecontent.html" %}

{% block title %}MyHeartRate -BPM Raw Data- {% endblock title %}

{% block maincontent %}
<h3 class="page-header">Raw Data</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datalist %}
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.time }}</td>
        <td>{{ data.bpm }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock maincontent %}
