{% extends "basecontent.html" %}

{% block title %}MyHeartRate -Spectrum Data- {% endblock title %}

{% block extrahead %}
<script type="text/javascript">
  $(function(){
    $('#spectrumdata').addClass('active');
  });
</script>
{% endblock extrahead %}

{% block maincontent %}

<h3 class="page-header">Spectrum Data</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Frequency[Hz]</th>
      <th>Abs</th>
      <th>Real</th>
      <th>Imag</th>
    </tr>
  </thead>
  <tbody>
    {% for z in fourier %}
      <tr>
        <td>{{ z.id }}</td>
        <td>{{ z.freq }}</td>
        <td>{{ z.abs }}</td>
        <td>{{ z.real }}</td>
        <td>{{ z.imag }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock maincontent %}
